<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
    <targets async="true">
        
        <!-- Database -->
        <target name="database" type="Database">
            <connectionString>
                Data Source=YOURDATABASE;Initial Catalog=SSUP_Logs;User Id=YOUR_USER;Password=YOUR_PASSWORD;
            </connectionString>
            <commandText>
                insert into system_logging(log_application,log_date,log_level,log_logger,log_message,log_machine_name, log_user_name, log_call_site, log_thread, log_exception, log_stacktrace, aspnet_sessionid) values(@log_app, @time_stamp, @level, @logger, @message,@machinename, @user_name, @call_site, @threadid, @log_exception, @stacktrace, @sessionid);
            </commandText>
            <parameter name="@log_app" layout="Your app name here"/>
            <parameter name="@time_stamp" layout="${longdate}"/>
            <parameter name="@level" layout="${level}"/>
            <parameter name="@logger" layout="${logger}"/>
            <parameter name="@message" layout="${message}"/>
            <parameter name="@machinename" layout="${machinename}"/>
            <parameter name="@user_name" layout="${windows-identity:domain=true}"/>
            <parameter name="@call_site" layout="${callsite:filename=true}"/>

            <parameter name="@threadid" layout="${threadid}"/>
            <parameter name="@log_exception" layout="${exception:format=toString,Data}"/>
            <parameter name="@stacktrace" layout="${stacktrace}"/>
            <parameter name="@sessionid" layout=""/>
        </target>

        <!-- Console -->
        <target name="console" xsi:type="Console" />

        <!-- Debugger -->
        <target xsi:type="Debugger" name="debugger" layout="${date} - ${level} - ${callsite} - ${message} ${exception:format=tostring}"/>
    </targets>

    <!-- Add your logging rules here.  -->
    <rules>
        <logger name="*" minlevel="Debug" writeTo="database" />
        <logger name="*" minlevel="Trace" writeTo="debugger" />
        <logger name="*" minlevel="Warn" writeTo="console" />
    </rules>
    
</nlog>
